@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<p>Thank you For confirming your Email, You will need to be verified first by the admin for you to proceed.</p>