@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Kindly confirm Your email from the email you provided to complete the registration process. Thank You.
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
